scrape_configs:
  - job_name: {{ job_name }}

    scrape_interval: {{ scrape_interval }}
    scrape_timeout: {{ scrape_timeout }}

    honor_timestamps: true
    metrics_path: {{ metrics_path }}
    scheme: {{ metrics_scheme }}
    follow_redirects: true
    static_configs:
{% for host in servers_to_scrape %}
      - targets:
        - {{ hostvars[host].ansible_host }}:{{ metrics_port }}
        labels:
          name: {{ hostvars[host].inventory_hostname }}
          group: {{ server_group }}
{% endfor %}
